<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Carrito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Productos</ion-label>
    </ion-list-header>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>En Carrito</ion-label>
        
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>Perro</ion-label>
        <ion-badge color="primary" >$100.00</ion-badge>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Gato</ion-label>
        <ion-badge color="primary" >$50.00</ion-badge>
      </ion-item>
    
      <ion-item-divider>
        <ion-label>Resumen</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>Subtotal</ion-label>
        <ion-badge color="primary" >$150.00</ion-badge>
      </ion-item>
      <ion-item lines="none">
        <ion-label>IVA</ion-label>
        <ion-badge color="primary" >$24.00</ion-badge>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Total</ion-label>
        <ion-badge color="primary" >$174.00</ion-badge>
      </ion-item>
      
    </ion-item-group>

  </ion-list>
</ion-content>